/* global styles */
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #1F2933;
    background-color: #F8F8F8;
}

body.dark {
    color: #E0E4FF;
    background-color: #121625;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 128px;
}

.hero-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    align-items: start;
}

.hero {
    /*min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
    min-height: 100vh; /* adjust 64px to your navbar's total height */
    padding-bottom: 82px;
    display: flex;
    flex-direction: column;        /* stack children vertically */
    justify-content: center;       /* vertical centering */
}


.hero-text {
    grid-column: 2 / 8;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.hero-visual {
    grid-column: 9 / 11;
}

.hero-greeting {
    font-size: 64px;
    font-weight: 600;
    color: #0F172A;
}

body.dark .hero-greeting {
    color: #F1F5F9;
}

.hero-title {
    font-size: 36px;
    font-weight: 500;
    color: #34B1E9;
}


.hero-description {
    font-size: 20px;
    line-height: 1.2;
    max-width: 678px;
}

.about {
    min-height: 100vh; 
    padding-bottom: 82px;
    display: flex;
    flex-direction: column;        
    justify-content: center;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    align-items: start;
}

.about-left {
    grid-column: 1 / span 4;
}

.about-text { /*delete*/
    margin-bottom: 0px;
}

.about-title {
    font-size: 48px;
    color: #0F172A;
    font-weight: 600;
    margin-bottom: 48px;
}

body.dark .about-title {
    color: #F1F5F9;
}

.about-image {
    width: 302px;
    height: 302px;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 24px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-right {
    grid-column: 5 / -1;
    margin-top: 108px;
}

.about-right-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}

.about-t1 {
    margin-bottom: 24px;
}

.about-skills-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 300px;
    gap: 6px;
    margin: 24px 0px;
}

.skill-card {
    display: inline-block;
    background-color: #38BDF8;
    border-radius: 30px;
    border: 2px solid rgba(0,0,0,0.15);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 17px;
    width: fit-content;
    white-space: nowrap;
}

.project {
    min-height: 100vh; 
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    align-items: start;
}

.projects-text {
    margin-top: 82px;
    color: #0F172A;
    font-size: 48px;
    font-weight: 600;
    grid-column: 1 / span 3;
    margin-bottom: 28px;
}

body.dark .projects-text {
    color: #F1F5F9;
}

.carousel {
    grid-column: 1 / -1;
    position: relative;
    width: 100%;
    max-width: 1182px;
    border-radius: 30px;
    margin: 0 auto; /* center element */
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    position: relative;
    min-width: 100%;
    height: 540px;
    overflow: hidden;
}

.carousel-item::after {
    content: "";
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background-color: rgba(31, 41, 51, 0.5); /* color + opacity */
    border-radius: 30px; /* matches image if rounded */
    pointer-events: none; /* clicks pass through */
    z-index: 1; /* sits above image, below text/arrows */
}

.carousel-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.carousel-text {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    z-index: 2;
}

.project-title {
    font-size: 32px;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 6px;
}

.project-description {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 6px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    background: none;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    z-index: 2;
}

.carousel-arrow.left {
    left: 50px;
}

.carousel-arrow.right {
    right: 50px;
}

.carousel .skill-card {
    font-size: 14px;
    background-color: rgba(56, 189, 248, 0.8);
    border: 2px solid rgba(0,0,0,0.1);
}

.carousel-dots {
    grid-column: 1 / -1; /* without this line, dots centred in the grid cell it's in */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.carousel-dots .dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #38BDF8;
}

.project-gallery {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 24px;
    gap: 24px;
}

.project-card {
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 24px;
    width: 378px;
    height: 320px;
}

body.dark .project-card {
    background-color: #1A1F35;
}

body.dark .project-details {
    opacity: 0.7;
}

body.dark .project-side {
    opacity: 0.7;
}

body.dark .project-card:hover {
    background-color: #1E2440;
}

.project-name {
    font-size: 32px;
    font-weight:700;
    margin-bottom: 14px;
}

.project-details {
    font-size: 16px;
    font-weight: 300px;
    margin-bottom: 24px;
}

.project-side {
    font-size: 14px;
}

.card-icon {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.external {
    margin-left: 12px;
}

.project-card:hover {
    background-color: #E2E8F0;
    transform: translateY(-8px);
}

.bottom-nav {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: center;
    gap: 29px;
    
    background: #fff;
    padding: 16px 36px;
    border-radius: 80px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
}

.line1, .line2 {
    margin: 0px -12px;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 140px;
    margin-bottom: 144px;
    opacity: 0.7;
}

body.dark .bottom-nav {
    background: #222A4A;
    border: 2px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);

}

body.dark .home {
    content: url("assets/home_dark.svg")
} /* fix this */

body.dark .about-icon {
    content: url("assets/person_dark.svg");
}

body.dark .projects-icon {
    content: url("assets/projects_dark.svg");
}

body.dark .contact {
    content: url("assets/mail_dark.svg");
}

body.dark .linkedin {
    content: url("assets/li_dark.svg");
}

body.dark .github2 {
    content: url("assets/github_dark.svg");
}

body.dark .theme {
    content: url("assets/moon.svg");
}

body.dark .line1, 
body.dark .line2 {
    content: url("assets/line_dark.svg");
}